$bg-color: #1e1927;
$color-surface: #1b173f;
$accent-primary: #e59f31;
$accent-secondary: #5f8099;
$accent-buttons: #e9bb80;
$accent-danger: #d64545;
$color-field-bg: #1b173fb3;
$text-primary: #e8d6cf;
$text-label: #d1d1d1b3;
$font-title: "Raleway";
$font-text: "Titillium Web";
$font-size-base: 16px;
$font-size-heading: 2rem;
$font-size-subheading: 1.25rem;

